@use "../settings/typography";

.screen{
    font-size: typography.$fs-screen;
    padding: 26px 24px;
    border: 0;
    border-radius: 0.625rem;
    
    background: var(--screen-bg-color);
    color: var(--screen-text-color);

    text-align: right;

    cursor: default;

    &:focus {
        outline: none;
    }
}