@use "../settings/typography";

.switch {
    display: flex;
    align-items: flex-end;
    gap: 1.3125rem;
    color: var(--toggle-text-color);

    &__title {
        font-size: typography.$fs-toggle-text;
        margin: 0;
        margin-bottom: 0.3125rem;
    }

    &__container {
        background: var(--toggle-bg-color);
        padding: 5px;
        border-radius: 0.8125rem;
    }

    &__tabs {
        font-size: typography.$fs-toggle-text;
    }

    &__tabTitles {
        margin-left: 0.3125rem;
    }

    &__tab{
        font-size: typography.$fs-toggle-text;
    }

    &__tab:not(:first-child) {
        margin-left: 0.6875rem;
    }

    &__wrapper {
        position: relative;
        padding: 0.3125rem;
        border-radius: 0.8125rem;
        min-width: 4.4375rem;
        background: var(--toggle-bg-color);
    }

    &__label {
        position: relative;
        top: -30px;
        margin-left: 8px;
        font-size: typography.$fs-toggle-text;
        cursor: pointer;
    }

    &__radio {
        display: none;
        cursor: pointer;
    }

    &__ball{
        content: "";
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        background: var(--toggle-color);
        border-radius: 50%;
        top: 24%;
        transition: all 0.3s linear;
    }

    &__radio:nth-of-type(1):checked ~ .switch__ball{
        left: 0.3125rem;
    }

    &__radio:nth-of-type(2):checked ~ .switch__ball{
        background: chocolate;
        left: 38%;
    }

    &__radio:nth-of-type(3):checked ~ .switch__ball{
        background: tomato;
        left: calc(100% - 16px - 5px);
    }
} 