@use "../settings/typography";

.switch {
    display: flex;
    align-items: flex-end;
    gap: 1.3125rem;
    color: var(--toggle-text-color);

    &__title {
        font-size: typography.$fs-toggle-text;
        margin: 0;
        line-height: 0.8125rem;
        letter-spacing: 0.0625rem;
    }

    &__body{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 4.4375rem;
        height: 2.75rem;
        justify-items: center;

        cursor: pointer;
    }

    &__label {
        font-size: typography.$fs-toggle-text;
        cursor: pointer;
        align-self: center;
    }

    &__button {
        position: relative;
        display: flex;
        grid-column: 1/4;
        background: var(--toggle-bg-color);
        border-radius: 0.8125rem;
        min-width: 100%;
    }

    &__circle {
        position: absolute;
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background: var(--toggle-color);
        border-radius: 50%;
        transition: all 0.3s linear;
        align-self: center;

        &--dark {
            left: 0.3125rem;
        }

        &--light {
            left: calc(50% - 0.5rem);
        }

        &--violet {
            left: calc(100% - 1rem - 0.3125rem);
        }
    }
} 